{% extends "base.html" %}

{% block active_nav %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'events' %}">Events</a></li>
    <li><a href="{% url 'companies' %}">Companies</a></li>
    <li><a href="{% url 'developers' %}">Developers</a></li>
    <li><a href="{% url 'sponsors' %}">Sponsors</a></li>
    <li><a href="{% url 'jobs' %}">Jobs</a></li>
    <li class="active"><a href="{% url 'download' %}">Downloads</a></li>
    <li><a href="{% url 'contactme-get-contact-form' %}">Contact</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
{% endblock active_nav %}

{% block content %}

            <div class="download-for-current-os">
            
                <div class="download-os-mac-osx" style="display: none;">
                    
                    <h1 class="call-to-action">Download the latest version for Mac OS X</h1>
                    
                    <p class="download-buttons">
                        <a class="button" href="https://www.python.org/ftp/python/3.4.2/python-3.4.2-macosx10.6.pkg">Download Python 3.4.2</a>
                    </p>
                    <p class="download-buttons">
                        <a class="button" href="https://www.python.org/ftp/python/2.7.8/python-2.7.8-macosx10.6.dmg">Download Python 2.7.8</a>
                    </p>
                </div>
            
                <div class="download-os-source" style="">
                    
                    <h1 class="call-to-action">Download the latest source release</h1>
                    
                    <p class="download-buttons">
                        <a class="button" href="https://www.python.org/ftp/python/3.4.2/Python-3.4.2.tar.xz">Download Python 3.4.2</a>
                    </p>
                    <p class="download-buttons">
                        <a class="button" href="https://www.python.org/ftp/python/2.7.8/Python-2.7.8.tgz">Download Python 2.7.8</a>
                    </p>
                </div>
            
                <div class="download-os-windows" style="display: none;">
                    
                    <h1 class="call-to-action">Download the latest version for Windows</h1>
                    
                    <p class="download-buttons">
                        <a class="button" href="https://www.python.org/ftp/python/3.4.2/python-3.4.2.msi">Download Python 3.4.2</a>
                        <a class="button" href="https://www.python.org/ftp/python/2.7.8/python-2.7.8.msi">Download Python 2.7.8</a>
                    </p>
                </div>
            
            <div class="download-unknown" style="display: none;">
                <h1 class="call-to-action">Download the latest versions of Python</h1>
                <p class="download-buttons">
                    <a class="button" href="https://www.python.org/downloads/release/python-342/">Download Python 3.4.2</a>
                    <a class="button" href="https://www.python.org/downloads/release/python-278/">Download Python 2.7.8</a>
                </p>
            </div>
            <p>Wondering which version to use? </p>
            <p><a href="https://wiki.python.org/moin/Python2orPython3">Here’s more about the difference between Python 2 and 3.</a> </p>
<p style="margin-top: 0.35em">Looking for Python with a different OS? Python for <a href="https://www.python.org/downloads/windows/">Windows</a>, <a href="https://www.python.org/downloads/source/">Linux/UNIX</a>, <a href="https://www.python.org/downloads/mac-osx/">Mac OS X</a>, <a href="https://www.python.org/download/other/">Other</a></p>
<p style="margin-top: 0.35em">Want to help test development versions of Python?  <a href="https://www.python.org/download/pre-releases/">Pre-releases</a></p>

        </div>


{% endblock %}